@{
    ViewData["Title"] = "About";
    ViewData["Privacy"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p><a asp-action="Privacy">@ViewData["Privacy"]</a></p>
